<div class="row">
  <div class="col">
    <h1>kBoard</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          placeholder="Board's title"
        />
      </div>
      <div class="form-group">
        <label for="createdBy">Created By</label>
        <input
          type="email"
          name="createdBy"
          id="createdBy"
          class="form-control"
          placeholder="Owner's Email"
        />
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea
          name="comments"
          rows="5"
          id="comments"
          class="form-control"
          placeholder="Comments"
        ></textarea>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
          Create <i class="fa fa-calendar-plus-o ml-1" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-warning">
          Add Card <i class="fa fa-list-ol ml-1" aria-hidden="true"></i>
        </button>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <td>Description</td>
            <td>Priority</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input
                type="text"
                name=""
                class="form-control"
                placeholder="Card's Description"
              />
            </td>
            <td>
              <select class="form-control">
                <option value="0">Low</option>
                <option value="1">Medium</option>
                <option value="2">High</option>
              </select>
            </td>
            <td>
              <button class="btn btn-default btn-white">
                <i class="fa fa-trash fa-2x"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
